.touch-scroll-bar {
    height: 50px;
    float: right;
    width: 2px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.39);
    position: fixed;
    right: 2px;
    z-index: 100;
    display: none;
}


.banner-front {
    z-index: 99;
}

.extra-small {
    font-size: 62%;
}

.home-body-pad {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #fff;
    text-shadow: 0 0 0;
}

.home-body-pad:hover {
    color:#fff;
    background-color:#563d7c;
}

.header-btn {
    border: 0 solid #fff;
    box-shadow: none;
    background-color: rgba(0,0,0,0)!important;
}

.empty-contact {
    display: none !important;
}

.empty {
    display: none !important;
}

.ui-page-active {
    z-index: 98;
}

.header-btn {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.loginDiag {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    display:none;
    opacity:0;
}

.loginDiag.active {
    display:block;
    z-index: 3000;
    animation: fadeIn 1500ms 0ms forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.diagbox {
    opacity: 0;
    margin-top: 35vh;
    color: #555;
    text-shadow: none;
    font-weight: 300;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border: 1px solid #38c;
    border-radius: 10px;
    background-color: white;
    /*backface-visibility: hidden;*/
    transition: 0.6s;
    transform-style: preserve-3d;
}

.active .diagbox {
    animation: fadeIn 800ms 0ms forwards,
                diagboxFloatUp 800ms 0ms forwards;
}

@keyframes diagboxFloatUp {
    from {
        margin-top: 35vh;
    }
    to {
        margin-top: 25vh;
    }
}

.diagbox_input {
    color: #555;
    text-shadow: none;
    margin-top: 25vh;
    font-weight: 300;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border: 1px solid #38c;
    border-radius: 10px;
    background-color: white;
    font-weight: bold; 
    font-size: 0.7em;
    line-height: 4em;
    transform: rotateX(180deg);
    /*backface-visibility: hidden;*/
    transition: 0.6s;
    transform-style: preserve-3d;
}

.diagbox_input_in {
    line-height: 3em;
    width: 100%;
    margin-bottom: 0.5em;
    border: 1px solid #38c;
}
